<div class="coolText">
    <div class="modal-header modal-headerOverrider">
       <p class="col-lg-8 col-lg-offset-2 text-center">
        Hi there!</br>Thanks for viewing this little project of mine.
       </p> </br> </br>
    </div>

    <div class="modal-body" style="background-color:white;">
        <div class="row" style="color:black;">
            <div class="team-member">
                    <h4>Ade Akingbade</h4>
                    <p class="testing">Currently a 'Computer Science & Software Engineering' BSc. student at <a href="https://www.maynoothuniversity.ie/" target="_blank">Maynooth University, Ireland.</a> </p>
                    <ul class="list-inline social-buttons">
                        <li><a href="https://twitter.com/AA25_Tech" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/adeakingbade" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="leftMe">
                            <b><u>Purpose</u></b></br>
                            The purpose of this project was to reinforce and build upon the knowledge I had learned within 2 months about <em><b>AngularJS</b> and <b>Javascript</b>.</em>
                            While also creating something that I was interested in and that can be used by others, Football. This project involves use the of; multiple API's, $http post/get requests on client/server side, JSON, caching, Restful, Node.js, SMTP, localStorage, bootstraping, responsiveness, SAP and much more but I think the list is abit long now...</br> 
                            </br>
                            <b><u>Provides</u></b></br>
                            What this project 'hopefully' provides is a place where football fans can visit, to check out dynamic information about their own or any football team in the barclays premier league. This information includes; bpl clubs, match results, season long fixture list, individual players and news. The major attraction to this website would be that mostly everything the user sees is dynamic data being fetched from remote API's, ensuring data up to date information.
                            </br></br>
                            <b><u>Updates</u></b></br>
                            Unfortunately I can't guarantee a steady stream of updates/fixes as I'll be focusing on learning even more about Javascript and AngularJS (As some of you can tell that much could be improved!) and applying this knowledge unto new projects. But hopefully this project can stand on its own two legs and provide users with what they expect. Don't hesitate to email bugs regardless! :)
                        </p>
                    </div>    
            </div> 
        </div>    
    </div>

    <div class="modal-footer">
        <p class="logoFooter">
            What score?
        </p></br>   
        <small>P.s. I support the glarious Manchester United.<img src="./img/team/manutdJersey.png"></img></small>
    </div>
</div>
