<div class="modal-header modal-headerOverrider">
    <h4>Credits</h4>
</div>

<div class="modal-body" style="background-color:white;">
    <div class="row" style="color:black;">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="leftMe">
                Building this project needed alot of help from colleagues, tutorials, AngJS documentation, and free API's. Here's a list of some notable links to sources that I found helped greatly and that you could also use for own projects.</br>
                <ul class="noBullets testing coolText">
                    <li><a href="http://api.football-data.org/about" target="_blank">Football-data.org</a></li>
                    <li><a href="https://github.com/michaelbromley/angularUtils/tree/master/src/directives/pagination" target="_blank">Paigination Directive</a></li>
                    <li><a href="https://github.com/melvin0008/skysportsapi" target="_blank">Unofficial Skysports Api</a></li>
                    <li><a href="https://docs.angularjs.org/guide" target="_blank">AngularJS documentation</a></li>
                    <li><a href="https://github.com/andris9/Nodemailer" target="_blank">Nodemailer for sending mail</a></li>
                    <li><a href="http://angular-js.in/angular-trustpass/" target="_blank">AngularJS module for pass checker</a></li>
                    <li><a href="https://builtwith.angularjs.org/" target="_blank">Apps built using AngularJS for inspiration</a></li>
                </ul>
            </p>    
        </div>
    </div>
</div>

<div class="modal-footer">
    <p class="logoFooter">
        What score?
    </p></br>   
</div>

