<div class="modal-header modal-headerOverrider">
    <h4>Disclaimer</h4>
</div>

<div class="modal-body coolText" style="background-color:white;">
    <div class="row" style="color:black;">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <p class="leftMe">
                1) The use of all services* on this website are to display practical knowledge of use, with these services*.</br> </br>
                2) The API's being used are free, if not please use the contact page to 
                contact and state otherwise. </br> </br>
                3) I also do not guarantee the provided data to be accurate, up-to-date or correct in anyway.
                Granted, that this is something I would the website to be able to achieve. Certain data entries can take up to 24hrs
                to display.
                </br></br>
            </p>
            *  Bootstrap templates, api's, pagination, nodemailer.
        </div>
    </div>
</div>

<div class="modal-footer">
    <p class="logoFooter">
        What score?
    </p></br>   
</div>

