<!-- <img id="{{preview}}" src="http://expo.ec.illinois.edu/assets/company_logos/placeholder.png" > </img>
    <canvas id="{{myCanvas}}"/> -->

<!--    <div twitter-timeline="628252698878545920" auto-resize="true" css-url="./css/twitter.css" data-tweet-limit="5">Loading tweets...</div> -->

<!-- <a class="twitter-timeline"
  data-widget-id="600720083413962752"
  href="https://twitter.com/TwitterDev"
  width="250"
  height="300">
Tweets by @TwitterDev
</a> -->

<!-- {{message}} -->

<button ng-click="restartPage()">Reload page</button>