
	<div class="modal-header">
	    <table class="modalclubTable">
	    	<tr>
	    		<td>
	    			<img src="./img/error.gif" height="120" width="150"/>
	    		</td>
	    		<td id="errorText">
	    			Houston we've got a problem...</br>
	    			<id class="usualText">
		    			Seems like what you requested is not available
		    			at this time. Please try again later. In the meantime  
		    			how about navigating somewhere else.</br>
	    			</id>
	    		</td>
	    	</tr>
	    </table>
	</div>


	<div class="modal-footer">
		<p class="logoFooter">What score?</p>

		<div class="footerPosition">
			<a href="#/clubs"><button class="btn btn-primary" ng-click="$close()">Clubs</button></a>

			<a href="#/news"><button class="btn btn-primary" ng-click="$close()">News</button></a>

		    <a href="#/allfixtures"><button class="btn btn-primary" ng-click="$close()">Fixtures</button></a>

		    <a href="#/contact"><button class="btn btn-warning" ng-click="$close()">Contact</button></a>

		</div>    
	</div>
